Flask
plotly
pandas
requests
pandas_ta
seaborn
matplotlib
scikit-learn
yfinance
seaborn
numpy
gunicorn==21.2.0
flask_socketio
PyYAML==6.0.1
flask_cors
pandas_datareader
keras
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-gpu
tensorrt
